body{
    background-color: #F6FFDE;
}

.name{
    background-color: antiquewhite;
    height: 200px;
    width: 200px;
    border: 10px;
    padding: 20px;
}

.box1{
    background-color: red;
    height: 200px;
    width: 200px;
    border: 20px;
}

.box2{
    background-color: blue;
    height: 200px;
    width: 200px;
    border: 10px;
}